<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Actuator</title>
</head>
<body>
<p>Click to see the actuator </p>
<a th:href="@{${data}}">link</a>
</body>
</html>