<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Spring Bootrap Application</title>
</head>
<body>
<h1>Hello, friend!</h1>
<p>Welcome to <span th:text="${appName}">Our App</span></p>
</body>
</body>
</html>